@font-face {
  font-family: "微軟正黑體";
  font-style: normal;
  font-weight: 400;
  src: local("微軟正黑體"), local("微軟正黑體");
  font-display: swap;
}
@font-face {
  font-family: boxicons;
  font-weight: 400;
  font-style: normal;
  src: url("./icon.woff2") format("woff2"), url("./icon.woff") format("woff"),
    url("./icon.ttf") format("truetype");
  font-display: swap;
}

/* _id.vue的X */
/* boxicons */

.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bx-x:before {
  content: "\ec8d";
}

.bxs-chevron-right:before {
  content: "\ed3b";
}
