@font-face {
  font-family: "微軟正黑體";
  font-style: normal;
  font-weight: 400;
  src: local("微軟正黑體"), local("微軟正黑體");
  font-display: swap;
}

@font-face {
  font-family: "uicons-solid-straight";
  src: url("https://cdn-uicons.flaticon.com/uicons-solid-straight/webfonts/uicons-solid-straight.eot#iefix")
      format("embedded-opentype"),
    url("https://cdn-uicons.flaticon.com/uicons-solid-straight/webfonts/uicons-solid-straight.woff2")
      format("woff2"),
    url("https://cdn-uicons.flaticon.com/uicons-solid-straight/webfonts/uicons-solid-straight.woff")
      format("woff");
  font-display: swap;
}

/* ss */

i[class^="fi-ss-"]:before,
i[class*=" fi-ss-"]:before,
span[class^="fi-ss-"]:before,
span[class*="fi-ss-"]:before {
  font-family: uicons-solid-straight !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* wow */

.fi-ss-surprise:before {
  content: "\f73a";
}

/* sad */

.fi-ss-sad-tear:before {
  content: "\f686";
}

/* heart */

.fi-ss-heart:before {
  content: "\f4bb";
}

/* happy face */
.fi-sr-grin-squint-tears:before {
  content: "\f462";
}

/* sr */

i[class^="fi-sr-"]:before,
i[class*=" fi-sr-"]:before,
span[class^="fi-sr-"]:before,
span[class*="fi-sr-"]:before {
  font-family: uicons-solid-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "uicons-solid-rounded";
  src: url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/webfonts/uicons-solid-rounded.eot#iefix")
      format("embedded-opentype"),
    url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/webfonts/uicons-solid-rounded.woff2")
      format("woff2"),
    url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/webfonts/uicons-solid-rounded.woff")
      format("woff");
  font-display: swap;
}

/* angry face */

.fi-sr-angry:before {
  content: "\f138";
}
